body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* width: 100%; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    background-color: #f8f3f7;
    }
  
  .container {
    max-width: 1200px;
    position: relative;
    background-color: #ffffff;
  }


/* header */

  .header-container {
    position: relative;
    margin-top: 10%;
    margin-bottom: 200px;
  }

  .header-image {
    max-width: 66%;
    margin-left: 33%;
  }

  .header {
    position: absolute;
    top: 6%;
    left: 8%;
    display: block;  
  }

  .main-title-top {
    font-weight: 700;
    font-size: 64px;
    color: #ff2f00;   
  }

.main-title-bottom {
    color: #4449b5;
    font-size: 46px;
    font-weight: 700;  
}



/* customer  */

.customer-title {
    display: block;
    /* font-size: xx-large; */
    margin-left: 9%;
}

  .customer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 36px auto 200px;
    /* padding: 0 12px; */
  }

  
  .image-item {
    box-sizing: border-box;
  }

  .image-item img {
    /* center image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .small-title {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: -40px;
    margin-left: 10%
  }

  .oneliner{
    padding-top: 10px;
  }




  /* services sections  */

  .title-section {
    /* position: absolute; */
    /* margin-top: 2%; */
    display: block;
    /* font-size: xx-large; */
    font-weight: 700;    
  }

  .right {
    display: flex;
    justify-content: right;
  }

  .left {
    justify-content: left;
  }

  .norm-left {
    margin-left: 4%;
  }

  .norm-right {
    margin-left: 20%;
    margin-right: 4%;
  }


.lines-top {
    display: flex;
    color: #ff2f00;
    font-weight: 700;
    font-size: 28px;
    
}

.lines-bottom {
    /* display: block; */
    color: #4449b5;
    /* width: max-content; */
}

.normal-text {
    /* display: block; */
    color: #4449b5;
    /* position: absolute; */
    margin-top: 46px;
    /* margin-right: 20px; */
    max-width: 74%;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}
  
  .line1 {
    display: block;
    padding-left: 8%;
  }
  
  .line2 {
    display: block;
    padding-left: 15%;
  }
  
  .space {
    margin-bottom: 6%;
  }

  .section-container {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 200px;

  }

  .section-image {
    max-width: 86%;
    height: auto;
  }

  .text-left {
    position: absolute;
    /* display: flex; */

    margin-left: 20%;
    margin-top: 1%;
  }

  .text-right {
    position: absolute;
    /* display: flex; */
    margin-right: 26%;
    margin-top: 1%;
  }

  .right-image {
    margin-left:0;
  }


  body.js-enabled .animated {
    opacity: 1;
  }

  body:not(.js-enabled) .animated {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .read-more-btn {
    display: inline-block;
    text-decoration: none;
    padding: 8px 8px;
    margin-top: 5%;
    color: #ffffff;
    background-color: #4449b5;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

  
  .read-more-btn:hover {
    background-color: #ff2f00;
  }


/* About Us */
.about-section {
  margin: 0 auto 140px;
}

.about-text {
  /* text-align: center; */
  color: #4449b5;
  max-width: 74%;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
  margin: 0 auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}



  /* Contact */

  .contact-section {
    position: relative;
    text-align: center;
    /* margin: 100px 0; */
  }
  
  .contact-image {
    display: inline-block;
    position: relative;
    margin-left: 33%;
    margin-bottom: -6px;
    max-width: 100%;
  }
  
  .contact-btn {
    position: absolute;
    z-index: 10;
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    padding: 16px 16px;
    color: #ffffff;
    background-color: #ff2f00;
    border-radius: 2px;
    transition: background-color 0.3s ease;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .contact-btn:hover {
    background-color: #4449b5;
  }



  @keyframes slideInUp {
    from {
      transform: translateY(50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-in-up {
    z-index: 1;
    animation: slideInUp 1.5s ease-in-out forwards;
  }


  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  .slide-in-left {
    animation: slideInLeft 1.5s ease-out forwards;
  }
  
  .slide-in-right {
    animation: slideInRight 1.5s ease-out forwards;
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes fadeInAndScale {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .slide-in-from-left {
    animation: slideInFromLeft 1.5s ease-out forwards;
  }
  
  .fade-in-and-scale {
    animation: fadeInAndScale 1.5s ease-out forwards;
  }
  



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #4449b5; */
    padding: 0 16px;
    height: 64px;
  }
  
  .navbar-logo {
    color: #ff2f00;
    font-size: 24px;
    text-decoration: none;
    padding: 8px 8px;
  }
  
  .navbar-menu {
    display: flex;
    list-style-type: none;
    z-index: 10;

  }
  
  .navbar-item {
    margin-left: 16px;
  }
  
  .navbar-link {
    color: #4449b5;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 8px;
  }

  .navbar-link:hover {
    background-color: #ff2f00;
    color: #ffffff;
  }
  
  .navbar-toggler {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 24px;
    height: 2px;
    background-color: #4449b5;
    position: relative;
  }
  
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4449b5;
  }
  
  .navbar-toggler-icon::before {
    top: -6px;
  }
  
  .navbar-toggler-icon::after {
    bottom: -6px;
  }
  

  .show {
    display: flex !important;
  }



  footer {
    position: relative;
    background-color: #f8f3f7;
    color: #ff2f00;
    padding: 6px 0;
    /* font-family: Arial, sans-serif; */
    z-index: 20;
    max-width: 1200px;

  }
  
  .footer-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-column {
    width: 33%;
    /* padding: 0 15px; */
  }
  
  .footer-column h3 {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .footer-column p {
    font-size: 0.9em;
    line-height: 1.4;
    color: #4449b5;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 10px;
  }
  
  .footer-column a {
    color: #4449b5;
    text-decoration: none;
  }
  
  .footer-column a:hover {
    color: #4449b5;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 0.8em;
    color: #4449b5;
    /* margin-right: 25px; */
  }
  

  #scroll-indicator-container {
    position: fixed; /* Change to fixed */
    bottom: 0;
    margin-left: 10%;
    opacity: 1;
    z-index: 10;
    transition: opacity 0.5s ease; /* Adjust the transition time as needed */
    animation: bounce 1.5s ease-in-out infinite;
  }
  
  
  
  .hide-scroll-indicator {
    opacity: 0 !important;
  }
  
  .scroll-indicator {
    transform: translateX(-50%);
    width: 66px;
    height: 66px;
    border: 2px solid #4449b5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16%; /* Adjust this value as needed */
    margin-left: 16%;
  }
  
  
  .arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid #4449b5;
  }
  
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }






  @media screen and (max-width: 1100px) {
    .navbar-menu {
      position: absolute;
      top: 64px;
      right: 16px;
      flex-direction: column;
      background-color: #4449b5;
      width: 200px;
      padding: 16px;
      display: none;
    }
  
    .navbar-link {
        color: #ffffff;
    }
    .navbar-item {
      margin-left: 0;
      margin-bottom: 8px;
      margin-top: 8px;
    }
  
    .navbar-toggler {
      display: block;
    }
  }


  @media screen and (max-width: 640px) {
  
    /* .header-container{
        max-height: 500px;
    } */
    
    /* .header {
        font-size: 7vw;
      } */

      .main-title-top {
        font-size: 8vw;
      }
      .main-title-bottom {
        font-size: 6vw;
      }

      .small-title {
        font-size: 1em;
      }
  
      .lines-top {
        font-size: 18px;
      }
      .normal-text {
        font-size: 14px;
        max-width: 90%;
        font-weight: 600;
        text-align: left;
      }

      .about-text {
        font-size: 14px;
        max-width: 90%;
        font-weight: 600;
      }

      .norm-right {
        margin-left: 4%;
      }
      .section-image {
        max-width: 60%;
      }
      .right-image {
        margin-left: 40%;
      }
    
      .customer-container {
        flex-wrap: wrap;
        margin: 43px auto 50%;
      }
    
      .image-item {
        flex: 0 0 50%; /* Flex basis is set to 50% to take half the width of the container */
        padding: 0 10px;
      }

      .contact-image {
        margin-left: 0;
      }

      .footer-container {
        display: block;
        text-align: center;
      }

      .footer-column {
        width: 100%;
      }
    
    }